<div class="time-picker">
  <div class="generic-form__label">
    <label
      [for]="name"
      class="generic-form__label-text">{{label}}:&nbsp;</label>
     <span class="required" *ngIf="required">*</span>
  </div>
  <input
    (input)="onInputChange($event.target.value)"
    (blur)="onTouched()"
    (keydown)="checkKeyInputValue($event.key)"
    [id]="name"
    type="number"
    class="generic-form__input time-picker__input"
    [placeholder]="placeholder"/>
    <span class="time-picker__time-output">{{outputValue | timeNormalizer}}</span>
</div>
