<div class="date-picker">
  <div class="generic-form__label">
    <label
      [for]="id"
      class="generic-form__label-text generic-form__input-label">{{label}}:
    </label>
    <span class="required" *ngIf="required">*</span>
  </div>
  <div class="generic-form__input-label with-icon">
    <mat-icon class="generic-form__input-icon--static generic-form__input-icon--right">date_range</mat-icon>
  <input
    [id]="id"
    (input)="onInputChange($event.target.value)"
    (blur)="onTouched()"
    class="generic-input generic-form__input with-icon--right"
    placeholder="DD/MM/YYYY"/>
  </div>
  <div *ngIf="controlContainer.invalid && controlContainer.touched" class="error-message">
    <span>{{errorMessage}}</span>
  </div>

</div>
