@import 'variables';

.mat-form-field-underline.ng-tns-c75-0.ng-star-inserted {
  display: none;
}

.mat-chip-list-wrapper {
  height: 50px;
  width: 100%;
  outline: none;
  color: $text-primary;
  border-radius: 4px;
  padding: 2px 8px;
  border: 2px solid #eaeaea;
  margin-top: 5px !important;

  &:focus {
    box-shadow: 0 2px 6px #b7b7b7;
  }
}

.tag-input-label {
  color: $text-primary;
  font-weight: 500;
  font-size: 14px;
}

mat-chip.mat-standard-chip {
  border-radius: 4px;
}

