<li
  [ngClass]="course.topRated ? 'course-item__top-rated' : ''"
  class="course-item generic-container">
    <div class="course-item__general-info">
      <h3 class="course-item__title"
      ><span class="course-item__title-text">{{course.title | uppercase}}</span>
      <mat-icon
        *ngIf="course.topRated"
        class="course-item__top-rated-icon">star</mat-icon>
      </h3>
      <div class="course-item__details">
        <div class="agmp-menu-container with-icon course-item__duration-menu">
          <mat-icon class="agmp-menu-icon">access_time</mat-icon>
          <span class="agmp-menu-text course-item__details-text">{{course.durationMin | timeNormalizer}}</span>
        </div>
        <div class="agmp-menu-container with-icon course-item__creation-menu">
          <mat-icon class="agmp-menu-icon">date_range</mat-icon>
          <span class="agmp-menu-text course-item__details-text">{{course.creationDate | date}}</span>
        </div>
      </div>
    </div>

    <div class="course-item__extended-info">
      <p class="course-item__description">{{course.description}}</p>
      <div class="course-item__actions">
        <button class="btn btn-secondary btn-course" (click)="editCourse(course.id)">
          <mat-icon class="btn-icon">create</mat-icon>
          <span class="btn-text with-icon">Edit</span>
        </button>
        <button class="btn btn-secondary btn-course" (click)="deleteCourse(course.id)">
          <mat-icon class="btn-icon">delete</mat-icon>
          <span class="btn-text with-icon">Delete</span>
        </button>
      </div>
    </div>
</li>
