@import 'base/variables';

.course-item {
  margin-bottom: 24px;

  &__general-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__extended-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 16px;
  }

  &__title {
    color: $text-primary;
    white-space: nowrap;
  }

  &__title-text {
    font-size: 20px;
    padding-right: 6px;
    vertical-align: top;
  }

  &__top-rated {
    background-color: rgba(0,0,0,.04);
  }

  &__top-rated-icon {
  color: #c9c92f;
  }

  &__details {
    display: flex;
    font-size: 14px;
    color: $text-secondary;
  }

  &__details-text {
    vertical-align: middle!important;
  }

  &__duration-menu,
  &__creation-menu {
    margin: 0 6px;
    white-space: nowrap;
    border: 4px solid transparent;
    padding: 4px;
  }

  &__description {
    font-size: 14px;
    margin-right: 24px;
    line-height: 24px;
  }

  &__actions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

}

.btn-course {
  width: 120px;
  padding: 6px;
  margin: 6px;
}
