@import 'base/variables';

.loader {

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(95, 95, 95, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid $accent-primary;
    width: 80px;
    height: 80px;
    animation: loader 3s linear infinite;
  }

}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
