@import 'variables';

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bs-light;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-primary;
}

.mock-link {
  text-decoration: underline;
  color: $mock-link;
  cursor: pointer;

  &:hover {
    color: darken($mock-link, 10%);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.view-container {
  width: 80%;
  margin: 0 auto;
}

.generic-container {
  background-color: #ffffff;
  box-shadow: 2px 2px 8px #999999;
  border-radius: 4px;
  padding: 1.4rem 2rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .logo-image {
  margin-right: 12px;
}

.logo .logo-text {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 1.5px;
}

// BUTTONS:

.btn {
  color: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  background-color: $accent-primary;
  padding: 12px 26px;

  &:hover {
    background-color: darken($accent-primary, 10%);
  }
}

.btn-primary.--btn-invert {
  color: $text-primary;
  background-color: $text-secondary;

  &:hover {
    background-color: darken($text-secondary, 10%);
  }
}

.btn-secondary {
  background-color: $accent-secondary;

  &:hover {
    background-color: darken($accent-secondary, 10%);
  }
}


.btn .btn-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.btn .btn-text.with-icon {
  display: inline-block;
  vertical-align: middle;
}

// FORM CONTROLS:

.generic-form {
  margin: 2rem 0;
  padding: 1.8rem 2rem;

  &__header {
    margin-bottom: 5px;
  }

  &__header-text {
    color: $text-primary;
    letter-spacing: 1px;
    font-size: 22px;
  }

  &__body {
    margin: 1.4rem 0 1.2rem 0;
  }

  &__control {
    margin-bottom: 1rem;
  }

  &__text-area {
    min-height: 150px;
    min-width: 100%;
    max-width: 100%;
    outline: none;
    color: $text-primary;
    border-radius: 4px;
    padding: 10px 8px;
    border: 2px solid #eaeaea;

    &:focus {
      box-shadow: 0 2px 6px #b7b7b7;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__forgot-password-link {
    font-size: 15px;
  }

  &__input {
    height: 40px;
    width: 100%;
    outline: none;
    color: $text-primary;
    border-radius: 4px;
    padding: 2px 8px;
    border: 2px solid #eaeaea;

    &:focus {
      box-shadow: 0 2px 6px #b7b7b7;
    }
  }

  &__input::placeholder,
  &__text-area::placeholder {
    color: #b5b2b2;
    opacity: 1; /* Firefox opacity fix */
  }

  &__input.with-icon--left {
    padding: 2px 8px 2px 32px;
  }

  &__input.with-icon--right {
    padding: 2px 32px 2px 8px;
  }

  &__input-label.with-icon {
    position: relative;
  }

  &__label {
    color: $text-primary;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 5px;
  }

  &__input-icon,
  &__input-icon--static
  {
    position: absolute;
    cursor: pointer;
    color: $text-primary;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 2%;
    }
    &--right {
      right: 2%;
    }
  }

  &__input-icon:not(&__input-icon--static):hover {
    color: #bababa;
  }
}

.agmp-menu-container.with-icon .agmp-menu-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.agmp-menu-container.with-icon .agmp-menu-text {
  display: inline-block;
  vertical-align: bottom;
}
