<div class="generic-container login-form">
  <form [formGroup]="model.userDataForm">

    <div class="generic-form__header">
      <h3 class="generic-form__header-text">Login</h3>
    </div>

    <div class="generic-form__body">

      <agmp-generic-input
        #userName
        [name]="'name'"
        [placeholder]="'Enter your name'"
        [label]="'Name'"
        [required]="true"
        formControlName="login"
      ></agmp-generic-input>

      <agmp-generic-input
        [name]="'password'"
        [type]="'password'"
        [placeholder]="'Enter your password'"
        [label]="'Password'"
        [required]="true"
        formControlName="password"
      ></agmp-generic-input>

    </div>
    <div class="generic-form__footer">
      <div class="generic-form__forgot-password">
        <a class="generic-form__forgot-password-link mock-link">Forgot password?</a>
      </div>
      <div>
        <button
          [disabled]="model.userDataForm.invalid"
          (click)="submitLoginInfo()"
          class="btn btn-primary"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </form>
</div>
